PROJECT_NAME=FastAPI-Abstract

USER_SERVICE_POSTGRES_DB=user-service
USER_SERVICE_POSTGRES_USER=admin
USER_SERVICE_POSTGRES_PASSWORD=admin
USER_SERVICE_POSTGRES_HOST=user-service-db
USER_SERVICE_POSTGRES_PORT=5430

SECRET_KEY=SuperSecretKey
ALGORITHM=HS256
SERVER_SECRET_SALT=some-super-secret-string
OTP_LENGTH=6
OTP_EXPIRES_MINUTES=10
ACCESS_TOKEN_EXPIRE_HOURS=24
REFRESH_TOKEN_EXPIRE_DAYS=7

USER_SERVICE_HOST=user-service
USER_SERVICE_PORT=8001
